<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400i,700,700i" rel="stylesheet">
    {{function('wp_head')}}
</head>
<body class="{{body_class}}">
    <div class="banner">
        <div class="row small-collapse">
            <div class="column">
                <ul class="dropdown align-right menu" data-dropdown-menu>
                    <li>{{ function("wp_loginout") }}</li>
                    <li>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input name="cmd" value="_donations" type="hidden">
                            <input name="business" value="orchplayers@wans.net" type="hidden">
                            <input name="no_shipping" value="0" type="hidden">
                            <input name="no_note" value="1" type="hidden">
                            <input name="currency_code" value="USD" type="hidden">
                            <input name="tax" value="0" type="hidden">
                            <input name="lc" value="US" type="hidden">
                            <input name="bn" value="PP-DonationsBF" type="hidden">
                            <button type="submit" class="warning button">Donate</button>
                            <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0" class="hide">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <header class="header">
        <ul class="dropdown menu align-center" data-dropdown-menu>
            {% for item in main_menu.get_items %}
                <a href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </ul>
    </header>

    <div id="content">
        {% block content %}
            {{ post.content }}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="row">
            <div class="small-12 large-6 columns">
                <h4>Get in Touch</h4>
                <ul class="menu">
                    <li>
                        <a href="https://www.facebook.com/Oregon-Chamber-Players-Junior-Symph-of-Vancouver-Northwest-Oboe-Seminar-156655621035479/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@oregonchamberplayers.org">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:3606964084">
                            <i class="fa fa-phone"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/dir/''/oregon+chamber+players/data=!4m5!4m4!1m0!1m2!1m1!1s0x5495a59d217cd789:0x960343c38256549?sa=X&ved=0ahUKEwjkhpTpqvHYAhVU5mMKHZwpDd8Q9RcIeDAO">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ul>
                <p>
                    Oregon Chamber Players <br>
                    PO Box 55415 <br>
                    Portland, OR 97238
                </p>

                <h4>Navigation</h4>
                <ul class="vertical menu">
                    {% for item in footer_menu.get_items %}
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    {% endfor %}
                </ul>
            </div>
            <div class="small-12 large-6 columns">
                <h4>Send us a message</h4>
                {{ function('do_shortcode', '[gravityform id="1" title="false" description="false"]') }}
            </div>
        </div>
    </footer>
    
    <div class="copyright">
        <div class="row small-collapse">
            <div class="column">
                &copy; {{ 'now' | date('Y') }} All Rights Reserved. Webs design and development by Robert Parker - <a href="https://robert-parker.me">Portland web design and development</a>
            </div>
        </div>
    </div>

    {% block footer %}
        <footer id="footer">
        </footer>
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>